@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nunito:wght@300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  font-family: "Nunito", "Lora", sans-serif;
  background-image: linear-gradient(-180deg, #fff, rgba(232, 242, 213, 0.7));
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero {
  min-height: 75vh;
}
section p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 90%;
  line-height: 1.8em;
  width: 70%;
  margin-bottom: 0.8%;
}
section h1 {
  font-size: 200%;
  font-weight: 700;
  line-height: 1em;
  margin: 2% auto 4% auto;
}
section h3 span {
  color: #008073;
}
section h3 {
  margin: 10% 0 7%;
}
.divimg {
  width: 30px;
}
.titleproject {
  color: #008073;
  margin-top: auto;
  margin-left: 90px;
  padding: 3px;
  font-family: "Lora", sans-serif;
}
.leftline{
  border-left: 4px solid rgba(0,51,46,0.73);
}
ul li {
  list-style-type: none;
}
li a {
  text-decoration: none;
}
.container {
  text-align: left;
  padding: 0 26px;
}
.middlepart {
  background-color: #d6dbd2;
  padding: 20px 0;
}
.card {
  display: inline-block;
}
.card img {
  width: 90%;
}
.card h4 {
  font-size: 90%;
  flex: 1;
}
.card p {
  font-size: 80%;
  color: black;
}
.card div div {
  display: flex;
}
.card .icon {
  margin-left: 20px;
  display: inline-block;
}
.card div a img {
  flex: 1;
  margin-right: 8%;
}
p a {
  display: inline;
  margin-right: 0;
}
header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 6px 21px 25px -33px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 21px 25px -33px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 21px 25px -33px rgba(0, 0, 0, 0.75);
  position: relative;
  display: flex;
  justify-content: space-between;
}
header ul a {
  display: block;
  color: black;
  cursor: pointer;
}
header .menu {
  height: 0;
  transition: height 0.2s ease-out;
}
header .logo {
  margin: 16px;
  width: 25px;
  -webkit-filter: invert(1);
  filter: invert(1);
}
header .menu-icon {
  margin: 38px 20px;
  float: right;
  cursor: pointer;
}
header .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background 0.2s ease-in-out;
}
header .menu-icon .nav-icon:before {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 120%;
  position: absolute;
  transition: all 0.2s ease-in-out;
  top: 5px;
}
header .menu-icon .nav-icon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 80%;
  position: absolute;
  transition: all 0.2s ease-in-out;
  top: -5px;
}
header .menu-btn {
  display: none;
}
header .menu-btn:checked ~ .menu {
  height: 120px;
}
header .menu-btn:checked ~ .menu-icon .nav-icon {
  background-color: transparent;
}
header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  width: 100%;
  transform: rotate(-45deg);
  top: 0;
}
header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  width: 100%;
  transform: rotate(45deg);
  top: 0;
}
header ul a{
  padding: 10px;
}
footer {
  background-color: #212121;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.footer-container {
  width: 100%;
  min-height: 60px;
  text-align: center;
}
.footer-container p {
  font-size: 0.8em;
  font-weight: 250;
  padding: 12px;
}
.footer-container p a img {
  filter: invert(1);
  width: 12px;
}
.footer-container p a {
  display: inline-block;
  margin-top: 4px;
}
.btnCTA{
  margin-top: 7vh;
  padding: 15px;
  font-weight: 600;
  background-color: #008073;
  color:white;
  border-radius: 8px;


}
.btnCTA:hover{
  background-color: #199b8e;
  cursor: pointer;
}
.form{
  text-align: left;
  display: flex;
  justify-content: center;
}
.form form {
  width: 60vw;
  font-size: 0.7rem;
}
.form label{
  display: inline-block;
  margin: 5px 0px;
}
.form input, textarea{
  width: 90%;
  border-radius: 2px;
  display: inline-block;
  padding: 8px;
  border: 3px solid rgba(0, 0, 0, 0.0);
  background-color: #b7b7b7;
}
.form input[type="text"]:focus, textarea:focus{
  border : 3px solid #008073;
}
textarea {
  resize: none;
  height: 45px;
}
input[type="submit"]{
  margin: 30px 0;
  width: 99%;
  padding: 10px;
  border-radius: 10px;
  background-color: #008073;
  color: white;
  border: 1px
}
input[type="submit"]#btnform:hover{
  background-color: #199b8e;
  cursor: pointer;
}
.complete{
  display: block;
  color: #199b8e;
  text-align: center;
  font-size: large;
}
.footer-container p:first-child{
  font-weight: bolder
}
.loadincenter{
  margin-top: 2vh;
  width:  94%;
  display: flex;
  justify-content: center;
}
.hidden {
  display: none;
}
.loader {
  border: 3px solid #f3f3f3;
  border-radius: 80%;
  border-top: 3px solid #199b8e;
  width: 15px;
  height: 15px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.title{
  display: flex;
  justify-content: space-between;
  font-family: "Lora";
}

.card {
  margin-top: 5vh;
}
.card .text{

  background-color: white;
  padding: 20px;
  border-radius: 3px;
  z-index: 0;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 48em) {
  .hero{
    min-height: 77vh;
  }
  .hero p:first-child {
    margin-top: 10vh;
  }
  .hero h1 {
    padding-top: 30px;
  }
  header {
    display: block;
  }
  .menu {
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
  }
  .menu a {
    text-align: center;
  }
  header ul a:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
  }
  .btnCTA{
    margin-top: 7vh;
  }
  .intro{
    margin-top: 10vh;
    width: 100%;
  }
  .container{
    padding: 5px;
  }
  header .logo{
    margin-left: 0 ;
  }
  .card .text p {
    margin-top: 2vw;
    font-size: 0.7em;
  }
  .card .text span{
    display: block;
    margin: 15px 0;
  }
}
@media screen and (min-width: 48em) {
  .hero {
    padding: 0 90px;
  }
  .hero p:first-child {
    margin-top: 180px;
  }
  header {
    align-items: center;
  }
  .menu {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  section h1 {
    font-size: 4em;
    line-height: 1.1em;
  }
  section h3 {
    font-size: 2em;
  }
  section p {
    font-size: 1em;
    width: 60%;
  }
  header .menu-icon {
    display: none;
  }
  header ul a:hover {
    color: rgba(0, 0, 0, 0.7);
  }
  .container {
    padding: 0px 100px;
  }
  ul.project li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul.project li:nth-child(even) .card {
    flex-direction: row-reverse;
  }
  .card {
    min-width: 70%;
    display: flex;
    margin-top: 5vh;
  }
  .card a img {
    position: relative;
    width: 100%;
    z-index: 1;
  }
  .card .text {
    position: relative;
    margin: 4vh 0;
    display: block;
  
    min-width: 22vw;
    max-width: 26vw;
    max-height: 240px;
  }
  .principalimagecard{
    max-width: 45vw;
    min-width: 400px;
  }
  .card .text p {
    margin-top: 2vw;
    font-size: 0.7em;
  }
  .card .text span{
    display: block;
    margin: 15px 0;
  }
  ul.project li:nth-child(odd) .card .text{
    margin-left: -15vw;
    padding-left: 17vw;
  }
  ul.project li:nth-child(even) .card .text{
    margin-right: -15vw;
    padding-right: 14vw;
  }

  input[type="submit"]{
    width: 92.5%;
  }
}
