@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nunito:wght@300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  height: 100;
  font-family: "Nunito", "Lora", sans-serif;
  background-image: linear-gradient(-180deg, #fff, rgba(232, 242, 213, 0.7));
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero {
  min-height: 75vh;
}
section p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 90%;
  line-height: 1.8em;
  width: 70%;
  margin-bottom: 0.8%;
}
section h1 {
  font-size: 200%;
  font-weight: 700;
  line-height: 1em;
  margin: 2% auto 4% auto;
}
section h3 span {
  color: #008073;
}
section h3 {
  margin: 10% 0 7%;
}
.divimg {
  width: 30px;
}
.titleproject {
  color: #008073;
  margin-top: auto;
  padding: 3px;
  font-family: "Lora", sans-serif;
  border-left: 4px solid rgba(0,51,46,0.73);
}
ul li {
  list-style-type: none;
}
li a {
  text-decoration: none;
}
.container {
  text-align: left;
  padding: 0 26px;
}
.middlepart {
  background-color: #d6dbd2;
  padding: 20px 0;
}
.card {
  display: inline-block;
  margin-top: 3vh;
}
.card img {
  width: 90%;
}
.card h4 {
  font-size: 90%;
  flex: 1;
}
.card p {
  font-size: 80%;
  color: black;
}
.card div div {
  display: flex;
}
.card .icon {
  margin-left: 20px;
}
.card div a img {
  flex: 1;
  margin-right: 8%;
}
p a {
  display: inline;
  margin-right: 0;
}
header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 6px 21px 25px -33px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 21px 25px -33px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 21px 25px -33px rgba(0, 0, 0, 0.75);
  position: relative;
  display: flex;
  justify-content: space-between;
}
header ul a {
  display: block;
  color: black;
  cursor: pointer;
}
header .menu {
  height: 0;
  transition: height 0.2s ease-out;
}
header .logo {
  margin: 16px;
  width: 25px;
  -webkit-filter: invert(1);
  filter: invert(1);
}
header .menu-icon {
  margin: 38px 20px;
  float: right;
  cursor: pointer;
}
header .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background 0.2s ease-in-out;
}
header .menu-icon .nav-icon:before {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 120%;
  position: absolute;
  transition: all 0.2s ease-in-out;
  top: 5px;
}
header .menu-icon .nav-icon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 80%;
  position: absolute;
  transition: all 0.2s ease-in-out;
  top: -5px;
}
header .menu-btn {
  display: none;
}
header .menu-btn:checked ~ .menu {
  height: 120px;
}
header .menu-btn:checked ~ .menu-icon .nav-icon {
  background-color: transparent;
}
header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  width: 100%;
  transform: rotate(-45deg);
  top: 0;
}
header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  width: 100%;
  transform: rotate(45deg);
  top: 0;
}
header ul a{
  padding: 10px;
}
footer {
  background-color: #212121;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.footer-container {
  width: 100%;
  min-height: 60px;
}
.footer-container p {
  font-size: 0.8em;
  font-weight: 250;
  padding: 12px;
}
.footer-container p a img {
  filter: invert(1);
  width: 12px;
}
.footer-container p a {
  display: inline-block;
  margin-top: 4px;
}
.btnCTA{
  margin-top: 7vh;
  padding: 15px;
  font-weight: 600;
  background-color: #008073;
  color:white;
  border-radius: 8px;


}
@media screen and (max-width: 48em) {
  .hero{
    min-height: 77vh;
  }
  .hero p:first-child {
    margin-top: 120px;
  }
  .hero h1 {
    padding-top: 30px;
  }
  header {
    display: block;
  }
  .menu {
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
  }
  .menu a {
    text-align: center;
  }
  header ul a:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
  }

  .footer-container {
    width: 90%;
  }
  .footer-container div {
    width: 50%;
  }
  .btnCTA{
    margin-top: 7vh;
  }
  .intro{
    margin-top: 10vh;
    width: 100%;
  }
  .container{
    padding: 5px;
  }
  header .logo{
    margin-left: 0 ;
  }
}
@media screen and (min-width: 48em) {
  .hero {
    padding: 0 90px;
  }
  .hero p:first-child {
    margin-top: 180px;
  }
  header {
    align-items: center;
  }
  .menu {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  section h1 {
    font-size: 4em;
    line-height: 1.1em;
  }
  section h3 {
    font-size: 2em;
  }
  section p {
    font-size: 1em;
    width: 60%;
  }
  header .menu-icon {
    display: none;
  }
  header ul a:hover {
    color: rgba(0, 0, 0, 0.7);
  }
  .container {
    padding: 0px 100px;
  }
  ul.project li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul.project li:nth-child(2) .card {
    flex-direction: row-reverse;
  }
  .card {
    width: 70%;
    display: flex;
  }
  .card a img {
    flex: 1;
    width: 100%;
  }
  .card .text {
    flex: 1;
    display: block;
    margin: 15px;
    font-family: "Lora";
  }
  .card .text .title {
    width: 25vh;
  }
  .card .text p {
    padding: 20px 6% 0 0;
  }
  
}
